:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(217, 30%, 14%);
    --white: hsl(0, 0%, 100%); /*background*/
    --light-gray: hsl(0, 0%, 81%); /*name quote*/
    --light-grayish-blue: hsl(210, 46%, 95%); /*text*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
    font-size: 13px;
}

.container {
    background-color: var(--light-gra);
    display: grid;
    grid-gap: 20px 30px;
    width: 75%;
    margin: 160px auto;
}

.container > * {
    padding: 25px;
    border-radius: 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.one {
    background-color: var(--moderate-violet);
}

.two {
    background-color: var(--very-dark-grayish-blue);
}

.bg-white {
    background-color: var(--white);
    box-shadow: 40px 40px 17px -33px hsl(217deg 19% 35% / 20%);
}

.four {
    background-color: var(--very-dark-blackish-blue);
}

.profile, .comment {
    margin-bottom: 15px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    width: 30px;
    box-sizing: content-box;
    margin-right: 22px;
}

.name {
    color: var(--light-grayish-blue);
    font-weight: 500;
    margin-bottom: 2px;
}

.verified {
    color: hsla(210, 46%, 95%, 0.5);
    font-weight: 500;
}

.comment {
    color: var(--light-grayish-blue);
}

.full-comment {
    color: hsla(210, 46%, 95%, 0.7);
}

.one > * {
    position: relative;
    z-index: 1;
}

.one .quotation-image {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 100px;
}

.one .profile-image {
    border: 2px solid hsl(0deg 0% 81% / 50%);
}

.four .profile-image {
    border: 2px solid hsl(263, 55%, 52%);
}

.bg-white .name {
    color: var(--very-dark-blackish-blue);
}

.bg-white .verified {
    color: hsla(217, 30%, 14%, 0.5);
}

.bg-white .comment {
    color: var(--very-dark-blackish-blue);
}

.bg-white .full-comment {
    color: hsla(217, 30%, 14%, 0.7);
}

/***** desktop design *****/

@media only screen and (min-width: 1025px) {
    .container {
        max-width: 1110px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .one {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .two {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .three {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .four {
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
    }

    .five {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
    }
}

.attribution {
    font-size: 15px;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    bottom: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}